/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v14/92zPtBhPNqw79Ij1E865zBUv7myRJQVG.ttf) format('truetype');
}
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/jost/v14/92zPtBhPNqw79Ij1E865zBUv7mx9IgVG.ttf) format('truetype');
}
body {
  width: 100vw;
  height: 100vh;
  overflow: none;
}
main {
  width: 100vw;
  height: 100vh;
  background: #4e1f28;
  background: linear-gradient(90deg, #4e1f28 0%, #623740 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-text h1,
main .main-text h2 {
  font-family: 'Jost', sans-serif;
  background: #ee4c69;
  background: linear-gradient(90deg, #ee4c69 0%, #ffebbb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
main .main-text h1 {
  font-weight: 600;
  font-size: 4.8rem;
  text-align: center;
}
@media screen and (min-width: 450px) {
  main .main-text h1 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 768px) {
  main .main-text h1 {
    font-size: 9rem;
  }
}
main .main-text h2 {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: start;
}
@media screen and (min-width: 768px) {
  main .main-text h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 768px) {
  main .main-text h2 {
    font-size: 2.6rem;
  }
}
