.container-depoimentos {
    background: rgb(78,31,40);
    background-image: linear-gradient(90deg, rgba(78,31,40,1) 0%, rgba(98,55,64,1) 100%);
    height: 700px;
    position: relative;
    z-index: 10;
    width: 100vw;

    .title-depoimentos{
        width: 100%;
        padding-top: 30px;

        h2{
            text-align: center;
            color: #fff;
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 2.5em;
        }
    }
}

@import url('./swiper.less');