main{
    width: 100vw;
    height: 100vh;
    background: rgb(78,31,40);
    background: linear-gradient(90deg, rgba(78,31,40,1) 0%, rgba(98,55,64,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;

    .arrow{
      position: absolute;
      display: flex;
      width: 60px;
      height: 75px;
      justify-content: center;
      bottom: 50px;

      &:before {
        content: '';
        width: 2px;
        height: 45px;
        display: block;
        position: absolute;
        bottom: 30px;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: #fff;
        animation: lineDown 1.5s ease-out infinite;
        transform-origin: top center;
     }

      img {
        width: 16px;
        height: 10px;
        display: block;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 1;
        animation: arrowDown 1.5s linear 1.5s infinite;
      }
    }
  
    .main-text{
      h1, h2{
        font-family: 'Jost', sans-serif;
        background: rgb(238,76,105);
        background: linear-gradient(90deg, rgba(238,76,105,1) 0%, rgba(255,235,187,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      h1{
        font-weight: 600;
        font-size: 4.8rem;
        text-align: center;

        @media screen and (min-width: 450px) {
            font-size: 6rem;
        }

        @media screen and (min-width: 768px) {
            font-size: 9rem;
        }
      }
    
      h2{
        font-weight: 500;
        font-size: 1.2rem;
        text-align: start;

        @media screen and (min-width: 768px) {
            font-size: 1.5em;
        }

        @media screen and (min-width: 768px) {
            font-size: 2.6rem;
        }
        
      }
    }
  }